*{
    padding: 0;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.doc{
    width: 210mm;
    height: 290mm;
    background-color: white;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60mm auto 30mm;
    box-sizing: border-box;
    padding: 80px 80px;
}
.doc header{
    width: 100%;
    height:100%;
    display: flex;

}
.doc header .info{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 37% auto 8% auto;
}

.doc header .info h1{
    font-size: 14px;
    width: 40%;
    display: flex;
    align-items: center;
}

.doc header .info .img{
    height: 100%;
    width: 100%;
    display: flex;

}
.doc header .info .img img{
   
    height: 100%;
}
.doc footer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;

}
.doc footer .info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.doc footer .info h1{
    font-size: 16px;
}
.doc footer .info #off{
    text-align: center;
    font-weight: 900;
    font-size: large;
    

}
.doc main {
    display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
}
.doc main .title{
    height: 50px;
    display: flex;
    align-items: end;
}
.doc main .body{
    display: flex;
    flex-wrap: wrap;
    line-height: 30px;
    font-size: 20px;
} 
.doc main .body h2{
    font-size: smaller;
}
.doc main .title h1{
    border-bottom: 3px solid black;
    font-size: 20px;
}

/***************bonne conduite-----------------*/

.body #bonne{
    font-size: 16px;
}
.body .infoPerson{
    display: flex;

}
.body .infoPerson h1{
    font-size: 17px;
    
}
.body .infoPerson h1:nth-child(1){
    width: 255px;
}
.body .infoPerson h1:nth-child(2){
width: 350px;
}
 .more{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 .more div h1{
    font-size: 30px;
    border-bottom: 2px solid black;
}
 .more div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.more h1{
    font-size: 16px;
    font-weight: 500;
}